p {
    margin-right: 25px;
}

.member_regist_check {
    background-color: lightskyblue;
    width: 100%;
}

.password {
    overflow: hidden;
}

.password p {
    float: left;
}

.name {
    overflow:  hidden;
}

.name p {
    float: left;
}

.gender {
    overflow:  hidden;
}

.gender p {
    float: left;
}